

name: Workflow GHA + AWS + roles
on:
  push:
    branches:
      - main
permissions:
  id-token: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Confuguracion de las credenciales de aws
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
            role-to-assume: arn:aws:iam::545009863906:role/rolorgaroudev
            aws-region: us-east-1




      


