
name: Node.js CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions: 
        id-token: write

    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::545009863906:role/runicarveri
          aws-region: us-east-1
    
      - name: Use Node.js 25
        uses: actions/checkout@v4   












          
    

          

    
